# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\220704JAVA\java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
